<div class="container mt-5 p-4 bg-gray-100 rounded shadow-lg">
    <h4 class="text-2xl font-semibold mb-4">Internal Server error</h4>
    @if (error) {
    <h5 class="text-red-600 text-lg mb-2">Error: {{ error.message }}</h5>
    <p class="font-bold mb-2">This error comes from the server, not Angular</p>
    <p class="mb-2">What to do next?</p>
    <ol class="list-decimal ml-5 mb-4">
        <li class="mb-1">Check the network tab in Chrome Dev Tools</li>
        <li>Reproduce the error in Postman. If same error, don't troubleshoot
            Angular code!</li>
    </ol>
    <h5 class="text-lg font-semibold mb-2">Stack trace</h5>
    <mat-card class="p-4 bg-white">
        <code class="block whitespace-pre-wrap">{{ error.details }}</code>
    </mat-card>
    }
</div>