<header class="shadow-md max-h-20 p-3 w-full fixed top-0 bg-white z-50">
  <div
      class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
    <img routerLink="/" src="/images/logo.png" alt="app logo" class="max-h-16">
    <nav class="flex gap-3 my-2 uppercase text-2xl">
      <a routerLink="/" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink="/shop" routerLinkActive="active">Shop</a>
      <a routerLink="/test-error" routerLinkActive="active">Errors</a>
      <a *appIsAdmin routerLink="/admin" routerLinkActive="active">Admin</a>
    </nav>
    <div class="flex gap-3 align-middle">
      <a matBadge="{{cartService.itemCount()}}" routerLink="/cart"
          routerLinkActive="active" matBadgeSize="large"
          class="custom-badge mt-2 mr-2">
        <mat-icon>shopping_cart</mat-icon>
      </a>
      @if (accountService.currentUser()) {
      <div class="px-6">
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{accountService.currentUser()?.email}}</span>
        </button>
        <mat-menu #menu="matMenu" class="px-3">
          <button mat-menu-item routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
            My cart
          </button>
          <button mat-menu-item routerLink="/orders">
            <mat-icon>history</mat-icon>
            View Orders
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout</button>
        </mat-menu>
      </div>
      } @else {
      <button mat-stroked-button routerLink="/account/login">Login</button>
      <button mat-stroked-button
          routerLink="/account/register">Register</button>
      }
    </div>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar class="fixed top-20 z-50"
    mode="indeterminate"></mat-progress-bar>
}