<section class="bg-white py-16">
    <div class="mx-auto max-w-2xl px-4">
        <h2 class="font-semibold text-2xl mb-2">Thanks for your fake order!</h2>

        <p class="text-gray-500 mb-8">Your order <span
                class="font-medium">#666</span> will never be processed as this
            is a fake shop. We will not notify you by email once your order has
            been shipped.</p>
        <div
            class="space-y-2 rounded-lg border border-gray-100 bg-gray-50 p-6 mb-8">
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Date</dt>
                <dd class="font-medium text-gray-900 text-end">14 May 2024</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Payment method</dt>
                <dd class="font-medium text-gray-900 text-end">Visa</dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Address</dt>
                <dd class="font-medium text-gray-900 text-end">Address goes here
                </dd>
            </dl>
            <dl class="flex items-center justify-between gap-4">
                <dt class="font-normal text-gray-500">Amount</dt>
                <dd class="font-medium text-gray-900 text-end">$100,000</dd>
            </dl>
        </div>
        <div class="flex items-center space-x-4">
            <button routerLink="/orders/666" mat-flat-button>View your
                order</button>
            <button routerLink="/shop" mat-stroked-button>Continue
                shopping</button>
        </div>
    </div>
</section>