<div class="mx-auto mt-32">
    <h2 class="font-semibold text-2xl mb-6 text-center">My orders</h2>
    <div class="flex flex-col">
        <div class="w-full">
            <table class="min-w-full divide-y divide-gray-200 cursor-pointer">
                <thead class="bg-gray-50">
                    <tr class="uppercase text-gray-600 text-sm">
                        <th class="text-center px-6 py-3">Order</th>
                        <th class="text-left">Date</th>
                        <th class="text-left">Total</th>
                        <th class="text-left">Status</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @for (order of orders; track order.id) {
                        <tr routerLink="/orders/{{order.id}}" class="hover:bg-gray-100">
                            <th class="px-6 py-3"># {{order.id}}</th>
                            <td>{{order.orderDate | date: 'medium'}}</td>
                            <td>{{order.total | currency}}</td>
                            <td>{{order.status}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
