<mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Login</h1>
        </div>
        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Email address</mat-label>
            <input matInput formControlName="email" type="email"
                placeholder="name@example.com" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-full mb-6">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password"
                placeholder="Password" />
        </mat-form-field>
        <button mat-flat-button type="submit" color="primary"
            class="w-full py-2">Sign in</button>
    </form>
</mat-card>